.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-rows: 100px 250px 100px 250px;  */
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-gap: 20px 10px;
    /* justify-content: start; */
}

.container > div {
    padding:25px 0;
    margin: 10px;
    font-size: 28px;
    background-color: #feca57;
}

.child1{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.child7{
    grid-column: 3/5;
}
.child9{
    grid-column: 5/6;
    grid-row:2/3;
}
.child10{
    grid-column: 2/4;
}
.child11{
    grid-column: 4/6;
}
.child12{
    grid-column: 1/3;
}
.child13{
    grid-column: 3/6;
}
.child15{
    grid-column: 2/6;
}