
@import './_contact.css';
ul.menu li{
display: inline;
padding: 10px;
line-height: 70px;
}
@font-face {
    font-family: vazir;
    src: url(../fonts/Vazirmatn-Light.woff2);
}

body{
    font-family: vazir;
    direction: rtl;
}

.container-fluid-custom{
    background-color: rgb(1, 1, 126);
    color: #fff;
    height: 40px;
}
.nav{
    background-color: #efefef;
    overflow: hidden;
}
.nav a {
    float: right;
    color: rgb(46,46,46);
    text-align:center;
    padding:14px 16px;
    font-size:18px;
}
.nav a:hover{
    border-bottom:2px solid red;
}
.active{
    border-bottom:2px solid red;
}

.icon{
    display: none;
}


@media screen and (max-width:600px){
    .nav a:not(:first-child){
        display: none;
    }
    .nav a.icon{
        display: block;
        float: left;
    }
    .nav.responsive a{
        display: block;
        float: none;
        text-align: right;
    }
}